@font-face {
    font-family: aspex;
    src: url("../font/Aspex.ttf");
}

body {
    font-family: 'aspex';
    font-size:16px;
    color:white;
    background-color: black;

    transform: rotate(90deg);
    width: 90%;
    right: -18.7%;
    position: absolute;

}

.title{
    position: absolute;
    margin-top:-26%;
    margin-left:62%;
    width: 20%;
    font-size: 5em;
}

.subtitle{
    font-size: .5em;
    line-height: .75em;
    margin-left: 10%;
}

.weather-icon{
    position: absolute;
    margin-top: -27%;
    right: -7%;
    font-size: 200px;
}

.current-weather {
    display: inline-block;
}

.weather-info{
    position: absolute;
    display:flex;
    font-size:4em;
    text-align: right;
    line-height: 1.3em;
    right: -10%;
    margin-top:-10%;
}

.temperature-col {
    padding-left: 5%;
}

.clock {
    position: absolute;
    font-size:4em;
    text-align: right;
    line-height: 1.3em;
    right: -8%;
    margin-top:24%;
}

.calendar {

    position: absolute;
    display: inline-block;
    font-size:4em;
    text-align: right;
    line-height: 1em;
    right: -8%;
    margin-top:45%;
    width: 60%;

}

.event {
    display: inline-block;
    font-size: .6em;
}

.event-time {
    display: inline-block;
    padding-left: 3%;
    font-size: .8em;
}

.tweet {
    position: absolute;
    font-size:4em;
    line-height: 1em;
    left: 50%;
    margin-top: 70%;
    text-align: center;
    font-size: 2.6em;
    width: 58%;
}


.animate-show.ng-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove .animate-show.ng-show-add .animate-show.ng-show-remove{
  transition: all linear .5s;
}

.animate-show.ng-hide {
  opacity: 0;
}
